#mask {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3
}

.wraptocenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: inherit;
	height: inherit
}

.wraptocenter * {
	vertical-align: middle
}

#full {
	cursor: pointer
}

#tray {
	position: absolute;
	left: 0;
	bottom: 5px;
	height: 120px;
	width: 100%;
	overflow: auto;
	white-space: nowrap
}

.thumb {
	border: 2px solid transparent;
	display: inline-block;
	margin-left: 15px;
	cursor: pointer
}
.thumb:hover {
	border-color: #66FF66
}

#clicked {
	border-color: #66CCCC
}

#whitewash {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: white;
	opacity: 0.8;
	z-index: 1
}

img#spinner {
    position: fixed;
    z-index: 2;
}
