body {
    background-image: url("picres/bg_trans_tile.png");
    background-repeat: repeat;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll
}

#heading {
    position: relative;
    width: 365px;
    height: 148px;
    top: 1px;
    margin: auto;
    background-image: url("picres/heading.png");
    cursor: pointer
}

h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px
}

h2 {
    font-weight: bold;
    font-size: inherit;
    margin-bottom: 5px
} 

#text_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 717px;
    margin-top: 25px
}

#text_top {
    background-image: url("picres/text_bg_top.png");
    width: 717px;
    height: 95px;
    position: relative;
    z-index: 1
}

#text_top img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    display: block
}

#text_fill {
    background-image: url("picres/text_bg_fill.png");
    width: 717px;
    background-repeat: repeat-y;
    position: relative;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 40px;
    text-align: justify
}

#text_bot {
    background-image: url("picres/text_bg_bot.png");
    width: 717px;
    height: 93px
}

img#homeRemind {
    width: 120px;
    float: right;
    margin-top: -50px;
}

img#mapsIcon {
    float: right;
    padding-left: 10px;
    cursor: pointer;
}

a:link {
    color: #1f9fe1;
}
